@charset "UTF-8";

.hidden
{
  display: none;
}

#siteContainer
{
  max-width: 1200px;
  margin: 0 auto;
}

/*HEADER SECTION*/

/*MAIN NAVIGATION*/
.mainNav
{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.mainNav button
{
  background: url(../images/burger.svg) center no-repeat;
  width: 40px;
  height: 30px;
  border: 0px;
  transition: all 400ms ease;
  margin-left: auto;
}

.mainNav button.expanded
{
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.mainNav li a
{
  display: block;
  padding: 10px 0 10px 0; /*trbl*/
  color: #8ea75d;
  text-align: center;
}

#button2
{
  background-image: url(../images/top-green.svg);
  height: 28px;
  width: 40px;
  margin-top: 20px;
}
#button2:hover
{
  background-image: url(../images/top-white.svg);
  height: 28px;
  width: 40px; 
}
.mainNav li
{
  border-bottom: 1px solid #efefef;
}

.mainNav li:first-child
{
  border-top: 1px solid #efefef;
}

.mainNav li:last-child
{
  margin-bottom: 10px;
}

#burgerCon
{
  margin-top: 20px;
  display: none;
  margin-bottom: 20px;
}


#burgerCon.slideToggle
{
  display: block;
}
/*END OF MAIN NAVIGATION(BURGER MENU)*/

#logo
{
  height: 140px;
  width: 140px;
  margin: 0 auto;
  margin-bottom: 10px;
}
/*END OF HEADER SECTION*/

/*WELCOME (HEROIMAGE) SECTION*/
#welcome
{
  background: url(../images/hero.jpg) no-repeat center;
  height: 285px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -40px;
   padding-top: 90px;
   padding-right: 30px;
   padding-left: 30px;
   max-width: 640px;
}

#welcomeInfo
{
  background: rgba(255,255,255,0.3);
  height: 175px;
  padding: 10px 20px 0px 20px; /*trbl*/
  max-width: 970px;
  margin-top: 20px;
  margin: 0 auto;
}

#welcomeInfo h2
{
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  text-align: center;
  margin-top: 25px;
  font-family: Tahoma;
}

#welcomeInfo h3
{
  font-size: 16px;
  letter-spacing: .25px;
  line-height: 20px;
  color: white;
  text-align: center;
  font-family: Tahoma;
}

/*END OF WELCOME SECTION*/


/*PRODUCTS SECTION*/
#prodBanner
{
  background-color: #5d7032;
  height: 25px;
  display: block;
  max-width: 1200px;
  margin-bottom: 10px;
}

#prodBanner h2
{
  color: white;
  font-size: 18px;
  text-align: center;
  padding-top: 5px;
  text-shadow: 2px 2px 8px black;
}

/*MEETING INFORMATION/MAP*/
#smallCon
{
  height: 175px;
  margin: 20px;
  margin-top: -50px;
}
#meeting
{
  background-color: #dfe2d6;
  height: 190px;
  margin-bottom: 20px;
}

#meeting h2
{
  font-size: 16px;
  color: #4f5f27;
  text-align: center;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4f5f27;
}

#meeting p
{
  font-size: 11px;
  color: #5d6f33;
  text-align: center;
  line-height: 12px;
}

#map
{
  display: none;
}

/*PRODUCT IMAGES AND DESCRIPTIONS*/
#mainCon
{
  max-width: 1200px;
  color: #fff

}

#prodImg 
{
  height: 200px;
  margin: 0 auto; 
}

#prodImg img
{
  border: 5px solid #d8ae58;
  width: 297px;
  margin: 6px;

}

#prodText
{
  height: 125px;
  display: block;
  width: 275px;
  margin: 0 auto;
  margin-top: 20px;
}

#prodText h2
{
  color: #5d7032;
  text-align: center;
  text-decoration: underline;
  font-size: 18px;
  font-weight: bold;
}

#prodText h3
{
  color: black;
  font-size: 14px;
  line-height: 18px;
  margin-top: 15px;
}
/*END OF PRODUCTS SECTION*/

/*ABOUT US SECTION*/
.banner
{
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #e2e5da;
  margin-top: -17px;
}

.banner h2
{
  display: flex;
  color: #6c8235;
  font-family: tahoma, calibri, sans-serif;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.banner img
{
  margin-top: 20px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

#aboutText
{
  margin: 0 auto;
  color: #4f5f27;
  padding: 20px 20px 20px 20px;
}

#aboutText p
{
  
  font-family: tahoma, calibri, sans-serif;
  font-weight: bold;
  color: #d8ae58;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #d8ae58;
  padding-bottom: 10px;
}

#aboutText ul li
{
  padding: 10px 0px;
  font-size: 14px;
  margin-left: 20px;
}

/*EXECUTIVES SUB-SECTION*/
#execText
{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#execs
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

#exec h2
{
  text-align: center;
  font-size: 24px;
  color: #5d7032;
  text-decoration: underline;
  margin-bottom: 30px;
  font-weight: bold;
}
.execHold
{
 flex: 1 1 80px;
}

#execText h2
{
   font-size: 16px;
  color: #5d7032;
  text-decoration: underline;
  margin-bottom: 5px;
  font-weight: bold; 
  margin-top: 10px;
}

#execText h3
{
   font-size: 16px;
   margin-bottom: 10px;
}
#execImg
{
  background-color: grey;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0 auto;
}

#execImg1
{
  background-color: grey;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 0 auto;
}
/*END OF EXECUTIVES SUB-SECTION*/


/*SPONSORS SUB-SECTION*/
#sponsor h2
{
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
  color: #5d7032;
  text-decoration: underline;
  margin-bottom: 30px;
  font-weight: bold;
}

#sponsorImg:first-child
{
  margin-top: 20px;
}

#sponsorText
{
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 140px;
  margin: 0 auto;
  margin-bottom: 160px;
  margin-top: 10px;
}

#sponsorText p
{
 height: 190px;
}
#sponsors
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sponsorHold
{
 flex: 1 1 200px;
 margin-bottom: 40px;
}

#sponsorImg 
{
  height: 43px;
  width: 140px;
  margin: 0 auto;
}

#sponsorImg img
{
  height: 43px;
  width: 140px;
  margin: 0 auto;
}

#sponsorImg1 
{
  height: 63px;
  width: 60px;
  margin: 0 auto;
}

#sponsorImg1 img
{
  height: 63px;
  width: 60px;
  margin: 0 auto;
}

#sponsorImg6
{
  height: 43px;
  width: 140px;
  background-color: lightgrey;
  margin: 0 auto;
  margin-top: 30px; 
}
/*END OF SPONSORS SUB-SECTION*/
#aboutText2 p
{
  color: black;
  font-size: 12px;
}

#aboutImg2 img
{
  width: 300px;
  height: 198px;
  margin: 0 auto;
  box-shadow: 5px 0px 8px #888888;
}

#aboutImg2
{
  margin: 0 auto;  width: 300px;
  height: 198px;
  margin: 0 auto;

}

#aboutCon
{
  margin-top: 40px;
}
#aboutText2
{
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  background-color: #f7efde;
  box-shadow: 5px 10px 8px #888888;
  margin-bottom: 20px;
  padding: 10px;
  height: 140px;
}

#aboutDiv
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.aboutHold
{
 flex: 1 1 200px;

}

/*END OF ABOUT US SECTION*/

/*CAROUSEL/PROJECTS SECTION*/
.banner2
{
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #e2e5da;
  margin-top: 20px;
}

.banner2 h2
{
  display: flex;
  color: #6c8235;
  font-family: tahoma, calibri, sans-serif;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.banner2 img
{
  margin-top: 20px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}



.slideshow-container {
  max-width: 1200px;
  min-height: 494px;
  position: relative;
  margin: auto;
}


/* Hide the images by default */
.scoop
{
  width: 1200px;
}

/* Next & previous buttons */
.prev, .next
{
  cursor: pointer;
  position: absolute;
  top: 20%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next
{
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover
{
  background-color: rgba(216,174,88,0.8);
}


.text
 {
  margin-left: 10px;
  margin-right: 10px;
  color: #f2f2f2;
  font-size: 14px;
  padding: 8px 5px;
  position: absolute;
  bottom: 220px;
  max-width: 970px;
  text-align: center;
  font-family: tahoma, calibri, sans-serif;
  height: 240px;
  line-height: 20px;
  text-shadow: 3px 3px 8px black;
  background: rgba(0,0,0,0.5);
}



.text h2
{
  font-size: 16px;
  margin-top: 5px;
  color: #d8ae58;
}

.text a
{
  text-decoration: none;
  color: #d8ae58;
  margin-left: 160px;
}


#photo
{
  height: 285px;
}


#projText
{
  margin-top: -220px;
  margin-bottom: 0px;
}

#projText h2
{
  text-align: center;
  font-weight: bold;
  color: #d8ae58;
  font-size: 18px;
  margin-top: 10px;
}

#projText p
{
  text-align: center;
  font-family: tahoma, calibri, sans-serif;
  color: #4f5f27;
  font-size: 15px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

/*END OF PROJECTS SECTION*/

/*NEWSLETTER SECTION*/
.banner3
{
  display: flex;
  flex-direction: row;
  height: 75px;
  background-color: #e2e5da;
  margin-top: 20px;
}

.banner3 h2
{
  display: flex;
  color: #6c8235;
  font-family: tahoma, calibri, sans-serif;
  font-weight: bold;
  font-size: 42px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.banner3 img
{
  margin-top: 20px;
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

#newsHero img {
  width: 100%;
  height: 285px;
}


#newsHero {
  position: relative;
  text-align: center;
}

#newsBlurb {
  top: 30px;
  margin: 0 auto;
  font-family: serif;
  font-size: 20px;
  word-spacing: 5px;
  text-shadow: 1px 1px 2px black;
  position: absolute;
  color: white;
}

#newsLinks {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-spacing: 20px;
}

#newsLinks a {
  text-decoration: none;
  font-family: linguisticspro, 'times new roman', serif;
  font-size: 20px;
  color: white;
  opacity: .75;
  text-shadow: 1px 1px 2px black;
}

#newsLinks a:hover {
  color: yellow;
  background-color: #333;
  border-radius: 20px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-top: 3px;
  opacity: 1;
  transition: .5s ease;
}

#newsText {
  margin: 0 auto;
  font-family: linguistics-proregular, 'times new roman', serif;
  color: black;
  font-size: 12px;
  word-spacing: 2px;
  margin-top: 10px;
  padding: 0px 10px 0px 10px;
}

#newsText p
{
  margin-bottom: 10px;
}

#newsText h2
{
  margin-bottom: 20px;
  text-decoration: underline;
  color: #5d7032;
}

#contactForm
{
  display: flex;
  flex-direction: column;
}

#contactUs
{
  height: 145px;
  margin: 0 auto;
  background-color: #5d7032;
  color: white;
  padding: 10px;
  max-width: 300px;
}
#contactUs h2
{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  max-width: 320px;
}
#contactUs p
{
  font-size: 12px;
  line-height: 16px;
  max-width: 320px;
}
#content1
{
  max-width: 320px;
  margin: 0 auto;
}
input, textarea
{
  margin-top: 10px;
}
form
{
  background-color: #e2e5da;
  margin: 0 auto;
  margin-bottom: 20px;
}
#submit
{
  width: 140px;
  height: 30px;
  margin: 0 auto;
  background-color: #d8ae58;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}
#contactInfo
{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  height: 280px;
}
#contactInfo p1
{
  color: #5d7032;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #5d7032;
  padding-bottom: 10px;
  max-width: 320px;
  margin: 0 auto;
  margin-top: 20px;
}
#contactInfo p2
{
  text-align: center;
  margin-bottom: 10px;
  line-height: 18px;
  font-size: 14px;
  max-width: 320px;
  margin-top: 10px;
  margin: 0 auto;
  margin-bottom: 20px;
}
#contactInfo p3
{
  color: #5d7032;
  text-align: center;
  line-height: 18px;
  font-size: 16px;
  max-width: 320px;
  margin-bottom: 10px;
  margin: 0 auto;
}
#contactInfo p4
{
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  max-width: 320px;
  margin: 0 auto;
}

.contactHold
{
 flex: 1 1 300px;
 margin: 0 auto;

}
#contact
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#memberships 
{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#memberships p1
{
  color: #5d7032;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

#memberships p2
{
 
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#memberships p3
{
 
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
}

#general
{
  background-color: #f7efde;
  width: 290px;
  height: 93px;
  margin: 0 auto;
}

#general p
{
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  line-height: 24px;
  margin-top: 10px;
  padding: 10px 5px 10px 5px;
}
#general a
{
  color: #d8ae58;
  text-decoration: none;
}
#general a:hover
{
  color: #5d7032;
}


@media screen and (min-width: 480px) {

#welcome
{
  background: url(../images/hero-tablet.jpg) no-repeat center;
  margin-top: 40px;
}
  #smallCon
{
  height: 175px;
  margin: 20px;
  margin-top: 10px;
}
}


@media screen and (min-width: 640px) {
  
  #products
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
 .text h2
 {
  font-size: 32px;
  margin-bottom: -30px;
 }

 .text 
 {
  font-size: 18px;
  line-height: 35px;
  margin-top: 5px;
 }
  #smallCon
{
  height: 175px;
  margin: 20px;
  margin-top: 10px;
}

  .prodHold
  {
    flex: 1 1 400px;
    margin: 0 auto;
  }

#prodImg img
{
  margin: 0 auto;
}
.execHold
{
 flex: 1 1 200px;
}

#contactInfo 
{

  line-height: 20px;
  margin-top: 30px;
}

#contactInfo  p3
{
  margin-top: 40px;
}
#welcome
{
  background: url(../images/hero-tablet.jpg) no-repeat center;
  margin-top: 40px;
}
 

}



@media screen and (min-width: 1200px){

.mainNav
{
  display: flex;
  flex-direction: row-reverse;
  
}

#logo
{
  margin-left: 0px;
}

  #button
  {
    display: none;
  }

#hamMenu
{
  width: 734px;
  height: 50px;
  margin-top: 40px;

}

#smallCon
{
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}

#mainCon
{
  margin: 0 auto;
}
#map
{
  display: block;
  width: 355px;
  height: 175px;
  margin-right: 40px;
  margin-left: 109px;
}

#meeting
{
  height: 175px;
  width: 593px;

}

#prodBanner
{
  margin-top: 10px;
}

#prodImg 
{
  margin: 0 auto;
}

 #mainHeader
  {
    display: flex;
  }

  #button
  {
    display: none;
  }

  #burgerCon
  {
    display: flex;
    flex-direction: column;
  }

  .mainNav li
  {
    border-bottom: none;
    display: inline;
    margin-left: 20px;
  }

  .mainNav li a 
  {
    display: inline;
    padding: 5px 0 5px 0;
    color: #6d6d6c;
  }

  #welcome
  {
  background: url(../images/green-lake.jpg) no-repeat center;
  height: 285px;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 1200px;
  position: relative; 
  }
}